{% extends "gallery/base_template.html" %}
{% block body %}

<h2>Album "{{ album.title }}"</h2>

<p>{{ album.description }}</p>

{% if not album.image_set.all %}
    <p>Aucune photo n'a encore &eacute;t&eacute; ajout&eacute;e &agrave; cet album.</p>
{% else %}
    <p>Liste des photos dans cet album :</p>
    <ul>
    {% for image in album.image_set.all %}
        <li>
            <a href='{{ MEDIA_URL }}{{ image.original }}'>{{ MEDIA_URL }}{{ image.original }}</a>
        </li>
    {% endfor %}
    </ul>
    
    <div class='galleria'></div>
    
    <script>
        {% load staticfiles %}
        Galleria.loadTheme("{% static 'galleria/themes/classic/galleria.classic.min.js' %}");
        var data = {{ album.get_images_as_json|safe }}
        Galleria.configure({
            transition: 'fade',
            imageCrop: false,
            lightbox: true
        });
        Galleria.run('.galleria', { dataSource: data });
    </script>
{% endif %}

{% endblock %}