{% extends "global/main.html" %}
{% block body %}

<h1>Liste de tous les albums ajout&eacute;s</h1>

<a href="{% url 'gallery.views.album_add' %}" class="btn btn-primary btn" role="button">Cr&eacute;er un nouvel album</a>

{% if album_lst %}
    <div class="container" style="margin-top: 20px">
        {% for entry in album_lst %}
            <a href="{% url 'gallery.views.album_detail' entry.slug %}">{{ entry.title }}</a> :
            <span>{{ entry.description|truncatechars_html:20 }}</span>
            <a href="{% url 'gallery.views.album_del' entry.slug %}">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </a>
            <br />
        {% endfor %}
    </div>
{% else %}
    <p>Aucune entr&eacute;e trouv&eacute;e</p>
{% endif %}

{% endblock %}