{% extends "global/main.html" %}
{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Media library</h1>
        <p>Sur cette page sont list&eacute;s tous les albums disponibles.<br />
        Vous pouvez cr&eacute;er un compte <a href="{% url 'users.views.add' %}">ici</a> afin de pouvoir donner votre avis sur ces albums et leur contenu.</p>
      </div>
    </div>

    {% load gallery_extras %}

    <div class="container">
      <!-- Example row of columns -->
        {% for album in album_set %}
            {% if forloop.counter|is_mod_3 %}
            <div class="row">
            {% endif %}
                <div class="col-sm-4">
                  <h2>{{ album.title }}</h2>
                  <p>{{ album.description }}</p>
                  <p><a class="btn btn-default" href="{% url 'gallery.views.album_detail' album.slug %}" role="button">View details &raquo;</a></p>
                </div>
            {% if forloop.counter|is_mod_3 %}
            </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}