{% extends "global/main.html" %}
{% block body %}

<h1>Nouveau compte</h1>
<h2 style="margin-bottom: 50px">Remplissez le formulaire ci-dessous</h2>

{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container">
    <form action="{% url 'users.views.add' %}" method="post" class="form form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            {% bootstrap_field form.username layout='horizontal' %}
        </div>
        <div class="form-group">
            {% bootstrap_field form.first_name layout='horizontal' %}
        </div>
        <div class="form-group">
            {% bootstrap_field form.last_name layout='horizontal' %}
        </div>
        <div class="form-group">
            {% bootstrap_field form.email layout='horizontal' %}
        </div>
        <div class="form-group">
            {% bootstrap_field form.password layout='horizontal' %}
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2">
                <input type="submit" class="btn btn-success form-horizontal" value="Submit"/>
            </div>
        </div>
    </form>
</div>

{% endblock %} {# body #}